body
{
	font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif !important;
}

.home_banner
{   
	background: url(/assets/img/home_banner.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 10% 0%;
	padding: 15% 0 15% 0;
	position: relative;
	text-align:center;
}
.home_banner .heading p:hover{
	background: rgba(255,255,255,.2);
	border: 2px solid transparent;
}
.home_banner .heading h2{
	background: rgba(0, 0, 0, 0.41);
    padding: 10px;
	width: 70%; 
	display:inline-block;
	word-wrap: break-word;
}
.home_banner .heading p{
	display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
}
.home_banner .heading{
    text-align: center;
}
.home_banner .heading a {
    color: #fff;
    text-decoration: none;
}

.home_three_box a img
{
	max-width:90%;
}
.home_three_box a
{
	display:block;
	text-decoration:none !important;
	text-align:center;
}
.home_three_box a h4
{
	margin:0px;
	padding:0px;
	font-size:18px !important;
}

.robert_div_main
{
    padding: 40px 0px;
    background: #f2f2f2;
}
.robert_div_main .container .heading h4
{
	margin-bottom:30px;
	color: #780032;
	font-weight: bold;
}

.robert_div_main h6.subheading {
    text-transform: capitalize;
    color: #780032;
    font-size: 22px;
}
.robert_div_main .robert_div_sub p a
{
	color: #780032;
	text-decoration:none !important;
}
.robert_div_main .robert_div_sub
{
	font-size:20px;
}

.legal_service_main .legal_service_sub ul li
{
	font-size: 18px;
	margin:0px;
}
.legal_service_main , .home_three_box_main
{
	padding:40px 0px;
}
 .legal_service_main h4
 {
	font-weight: bold;
	color: #780032; 
 }
footer
{
    padding: 6% 0 0 !important;
	font-size: 20px;
	position: relative;
	background:#f2f2f2;
	
	margin-top:0px !important;
}
footer .footer-links h4   , .home_three_box a h4
{
	font-weight: bold;
	font-size: 20px;
	color: #780032;
	line-height: 28px;
}

footer .footer-columns {
	display: flex;
	flex-flow: wrap;
	margin: -10px -10px 10px -10px;
}

footer .legal-line {
	width: 100%;
	padding: 30px 0px;
	margin: 0;
}
footer .footer-links .inside-menu li a:hover , footer .social_media_div .powerd_by:hover 
{
	transition:0.7s ease all;
	color: #780032;
}
footer .footer-links li a
{
	color: #000000;
	text-decoration:none !important; 
}
footer .footer-links {
	flex: 1 0 180px;
	margin: 10px;
	padding: 0;

}	
footer .footer-links li 
{
	list-style:none;
}
footer .footer-links .inside-menu{
	padding-left:20px !important;
}
footer .footer-links .inside-menu li 
{
	color:#780032;
	list-style:disc;
}
footer a.social_media {
    margin-left: 20px;
    font-size: 24px;
    text-decoration: none;
    font-family: ETmodules!important;
    font-weight: 400;
    color: #fff;
}
footer .social_media_div
{
	color: #3A4145;
}
footer .social_media_div .powerd_by
{
	text-decoration:none !important;
}