---
layout: default
---

<div class="home_banner">
	<div class="container heading">
		<a href="/about-us">
			<h2>Our Skilled And Experienced Attorneys Provide<br>AGGRESSIVE REPRESENTATION</h2><br>
			<p>learn more</p>
		</a>
	</div>
</div>
<div class="container home_three_box_main">
	<div class="container">

		<div class="row home_three_box">
			<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
				<a href="">
					<h4 style="text-align:center;">BUSINESS LITIGATION</h4>
					<img src="{{ '/assets/img/home_icon1.png' | absolute_url }}" />
				</a>
			</div>
			<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
				<a href="">
					<h4 style="text-align:center;">COMMERCIAL REAL ESTATE</h4>
					<img src="{{ '/assets/img/home_icon2.png' | absolute_url }}" />
				</a>
			</div>
			<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
				<a href="">
					<h4 style="text-align:center;">CONSTRUCTION LAW</h4>
					<img src="{{ '/assets/img/home_icon3.png' | absolute_url }}" />
				</a>
			</div>
		</div>
	</div>	
</div>	
<div class="robert_div_main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 heading">
				<center><h4>Robertson & Associates</h4></center>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 robert_div_sub">
				<h6 class="subheading">Business Litigation, Constrution, commercial real estate attorneys in Charlotte, NC</h6>
				<p>When it comes to <a href="http://www.rlrobertson.com/commercial-litigation/">business litigation</a>, construction disputes, <a href="http://www.rlrobertson.com/commercial-real-estate/">commercial real estate transactions</a> and <a href="http://www.rlrobertson.com/contact/">other legal matters</a>, you deserve a law firm in Charlotte you can trust. Robertson &amp; Associates has been serving the Charlotte, NC-metro area since 1996, and our mission is to deliver value to our clients. As the legal service provider to businesses and litigation clients, we must have the same mission—to consistently deliver value through our services. Our clients have the right to expect that we will become a part of their team to remove obstacles and to facilitate the delivery of valuable products and services.</p>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 robert_div_sub">
				<h6 class="subheading">Business Litigation and Legal Solutions You Can Afford</h6>
				<p>Excellent legal help doesn’t have to come at a hefty price. We offer a wide range of legal services for businesses in a cost-effective and high-quality manner. We’ve been in the Charlotte, NC, area for almost 25 years, and we’re pleased to be considered your neighborhood attorneys.</p>
				<p>Robertson & Associates, is your small-town law firm that has built a strong reputation and continues to live up to it every day. For more information, please browse our website – or call our office today.</p>
			</div>
		</div>
	</div>
</div>
	
	
<div class="legal_service_main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
				<center><h4 style="margin-bottom: 30px;">Legal Services</h4></center>
			</div>

			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 legal_service_sub">
				<ul>
					<li>Administrative Law</li>
					<li>Alternative Dispute Resolution Representation</li>
					<li>Athlete Agency and Representation</li>
					<li>Banking Law</li>
					<li>Bankruptcy</li>
					<li>FDCPA and UTPA Law</li>
					<li>Business and Corporate Law</li>
					<li>Business Entity Selection and Structure</li>
					<li>Business Entity Formation</li>
					<li>Business Entity Governance and Management</li>
					<li>Business Transactions</li>
					<li>Business Incentives and Relocation Guidance</li>
					
					
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 legal_service_sub">
				<ul>
					<li>Business Torts</li>
					<li>Commercial Loans</li>
					<li>Commercial Real Estate</li>
					<li>Commercial Contracts</li>
					<li>Commercial Lease Agreements</li>
					<li>Construction Litigation</li>
					<li>Construction Contracts</li>
					<li>Copyright and Trademark Registrations</li>
					<li>Corporate Law</li>
					<li>Corporate Bankruptcy</li>
					<li>Corporate Reorganization and Restructuring</li>
					<li>Creditors’ Rights and Commercial Collections</li>
					<li>Employment Law</li>
					<li>Employment Defense</li>
					
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 legal_service_sub">
				<ul>
					<li>Employment and Non-Competition Agreements</li>
					<li>Employment Separation Agreements</li>
					<li>Entertainer Agency and Representation</li>
					<li>Estate Disputes</li>
					<li>Estate Planning</li>
					<li>Estate and Trust Litigation</li>
					<li>Federal and State Regulatory Investigation</li>
					<li>Franchising and Distribution</li>
					<li>Insurance Claims</li>
					<li>Insurance Defense</li> 
					<li>Internal Investigations</li>
					<li>Lien Enforcement Litigation</li>
					<li>Landlord Representation</li>
					
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 legal_service_sub">
				<ul>
					<li>Lender and Borrower Representation</li>
					<li>Music Management Contracts</li>
					<li>Performance Agreements</li>
					<li>Production Contracts</li>			
					<li>Publishing Contracts</li>			
					<li>Record Label Contracts</li>			
					<li>SBA Loans</li>			
					<li>Shareholder Disputes</li>			
					<li>Sponsorship Agreements</li>			
					<li>Will Caveats</li>			
					<li>White Collar Criminal Defense</li>			
					<li>Wrongful Death</li>			
					<li>Venue Contracts</li>			
					<li>Venture Capital and Emerging Companies</li>				
				</ul>
			</div>
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="margin-bottom: -66px;">
				<center><a target="_parent" href="https://sealserver.trustwave.com/cert.php?customerId=a0445dfd143f41819cc488429d7eb9f2&size=105x54&style=invert"><img src="{{ '/assets/img/trust.png' | absolute_url }}" /></a></center>
			</div>
		</div>
	</div>
</div>